*{
    margin:0%;
    padding: 0%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body{
    width: 100%;
    height: 100%;
    background-image:image-set("/public/LOGO_FONDO2.png");
    background-repeat: no-repeat;
    background-position: 1190px 130px;
}

h1{
    text-align: center;
    color: #22435C;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(98, 98, 112), 0 0 5px rgb(19, 19, 20);
}

h2, h3{
    color: #22435C;    
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(98, 98, 112), 0 0 5px rgb(19, 19, 20);
}




.navbar{
    background: linear-gradient(270deg, rgba(127,206,226,1) 50%, rgba(34,67,92,1) 100%);
    justify-content: center !important;
    height: 100px;
    
}

.btn-secondary:hover{
    background-color: #22435C ;
    scale: 1.2;
}





.perfil{
    justify-content:center !important;
}

.card{
    margin: auto;
    width: 25rem;
    box-shadow: 20px 10px 5px lightblue inset;
}

.figura_foto{
    position: relative;
    overflow: hidden;
    height: 450px;
}

.figura_foto img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
}

.figura_foto .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 103, 123,0.5);
    color: #fff;
    opacity: 0;
    visibility:hidden;
    border-radius: 10px;
    visibility: hidden;
    text-align: center;
}

.figura_foto:hover > .capa {
    opacity: 1;
    visibility:visible;
}

.figura_foto:hover > img {
    scale: 1.1;
}

.figura_foto .capa h6{
    transition: all 500ms ease-in-out;
}


.figura_foto:hover > .capa h6{
   margin-top: 200px;
}

.figura_foto .capa p{
    text-align: center;

}

.iconos_Redes_Sociales>a :hover{
    stroke: #3a3a3a;
 
}

.descargar_Cv, .btn_enviarIA {
    background-color: #22435C !important;
    color: #fff;

    &:hover {
        background-color: #3a3a3a !important;
        color: #fff;
        scale: 1.1;
}
}





.secc1{
    border: 1px solid #22435C;
    border-radius: 8px;
    box-shadow: 10px 10px 15px #898C8E;
    background-color: #fff;
}

p{
    text-align: justify;
}

.localizarme_iconos{
    justify-content: left;
    display:flex;
    width: 100%;
    margin-top: 3%;
}





.secc2{
    margin-top: 3%;
    border: 1px solid #22435C;
    border-radius: 8px;
    box-shadow: 10px 10px 15px #898C8E;
    display: block;
    
}

.fila_iconos_leng{
    justify-content: center;

}

.icono_leng_Prog{
    width: 100px;
    height: 70px;
    margin-inline: 50px;
    margin-bottom: 10px;
    view-timeline-name: --seccion;
    view-timeline-axis: block;

    animation-timeline: --seccion;
    animation-name: show_seccion;
}

.card2{
    width: 20%;
    height: 200px;
    background-color: #22435C;
}
@keyframes show_seccion{
    0%{
        opacity: 0;
        scale: 25%;
        display: none;
    }

    100%{
        opacity: 1;
        scale: 100%;
        display: block;
    }
}




.secc3{
    color: #ffffff;
    border-radius: 8px;
}

.titulo_proyecto{
    text-align: center;
    
}

a{
    text-decoration: none;
    color: #000;
}

.row1{
    background: linear-gradient(257deg, rgba(34,67,92,1) 0%, rgba(127,206,226,1) 100%);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 10px 10px 15px #22435C;
    color: #fff;
}
.item_Proyecto{
    display: flex;
}

.item_Proyecto>h5{
    margin-left: 10px;
}





.secc4{
    border-radius: 8px;
    margin-bottom: 0%;
    color: #22435C;
    
    view-timeline-name: --seccion;
    view-timeline-axis: block;

    animation-timeline: --seccion;
    animation-name: show_seccion;
    animation-range: entry 25% cover 50%
}

.titulo_educacion{
    color: lightblue;
    margin-bottom: 20px;
}

.secc4_insti{
    border-radius: 5px;
    color: #898C8E;
}

.secc4_insti_encabezado{
    display: flex;
}

.secc4_insti_encabezado>h5{
    margin-left: 10px;
    color: #22435C;
}





footer{
    text-align: center;
    background: linear-gradient(0deg, rgba(34,67,92,1) 0%, rgba(127,206,226,1) 100%);
    height: 200px;
    color: #d4d2d2;
    padding-top: 80px;
    box-shadow: 10px 10px 15px  rgba(127,206,226,0.1) inset;
}



@media only screen and (max-width : 401px) {
    
    .card{
        width: 18rem;
    }

    .figura_foto{
    height: 250px;
    }
    
    .figura_foto:hover > .capa h6{
        margin-top: 100px;
    }
    
    .icono_leng_Prog{
        margin-inline: 0px;
    }
}




.secc5{
    
    max-width: 95%;
    height: 50vh;
    background: linear-gradient(0deg, rgba(127,206,226,1) 0%, rgba(34,67,92,1) 100%);
    border: 1px solid #898C8E;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 8px;
    margin-bottom: 16px;
    overflow: auto;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: #ffffff;
    border-radius: 4px;
}

.message{
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    padding: 4px 8px;

    span {
        width: 45px;
        height: 45px;
        font-size: 12px;
        font-size:medium;
        font-weight:bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    p{
        border-radius: 4px;
        padding: 4px 8px;
        margin-top: 8px;
    }

    &.user{
        align-self: flex-end;
        align-items: flex-end;

        span, p {
            background:rgba(127,206,226,1);
            color: #000000;
        }   
    }

    &.bot{
        align-self: self-start;
        span, p {
            background: rgb(98, 98, 112);
            color: #fff;
        }  
    }
}

form {
    display: flex;

    input {
      border-radius: 999999px;
      flex-grow: 1;
      border: 0;
      padding: 8px;
      margin-right: 8px;
      border: 1px solid #ccc;
    }

    button {
      background: #09f;
      border: 0;
      color: white;
      border-radius: 6px;
      cursor: pointer;
      padding: 8px;
      transition: background .3s ease;

      &[disabled] {
        background: #ccc;
        opacity: .6;
        pointer-events: none;
      }

      &:hover {
        background: rgb(0, 104, 173);
      }
    }
  }

  small {
    font-size: 10px;
    color: #555;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 400px;
  }

  .loading {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;

    i {
      pointer-events: none;
      width: 2.5em;
      height: 2.5em;
      border: 0.4em solid transparent;
      border-color: #eee;
      border-top-color: #3E67EC;
      border-radius: 50%;
      animation: loadingspin 1s linear infinite;
    }

    h4 {
      color: #444;
      margin-bottom: 8px;
    }

    h5 {
      font-weight: 400;
      margin: 0;
      font-size: 10px;
      opacity: .4;
    }
  }

  @keyframes loadingspin {
    100% {
      transform: rotate(360deg)
    }
  }