*{
    margin:0%;
    padding: 0%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    & a{
        text-decoration: none;
        color: #000;
    }

    & h1{
        text-align: center;
        color: #22435C;
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(98, 98, 112), 0 0 5px rgb(19, 19, 20);
    }
    
    & h2, h3{
        color: #22435C;    
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(98, 98, 112), 0 0 5px rgb(19, 19, 20);
    }
    
}

body{
    width: 100%;
    height: 100%;
    background-image:image-set("/public/LOGO_FONDO2.png");
    background-repeat: no-repeat;
    background-position: 1190px 130px;
}







.navbar{
    background: linear-gradient(270deg, rgba(127,206,226,1) 50%, rgba(34,67,92,1) 100%);
    justify-content: center !important;
    height: 100px;
    
    .btn-secondary{
        margin-left: 10px;
    }

    & .btn-secondary:hover{
        background-color: #22435C ;
        scale: 1.2;
        
    }
}


.perfil{
    justify-content:center !important;
}

.card{
    margin: auto;
    width: 25rem;
    box-shadow: 20px 10px 5px lightblue inset;
    
    & .figura_foto{
        position: relative;
        overflow: hidden;
        height: 450px;

        & img{
            width: 100%;
            height: 100%;
            transition: all 500ms ease-in-out;
        }

        &:hover > img {
            scale: 1.1;
        }


        & .capa{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgb(0, 103, 123,0.5);
            color: #fff;
            opacity: 0;
            visibility:hidden;
            border-radius: 10px;
            visibility: hidden;
            text-align: center;

            & h6{
                transition: all 500ms ease-in-out;
            }

            & p{
                text-align: center;
            }

        }

        &:hover > .capa {
            opacity: 1;
            visibility:visible;
        }

        &:hover > .capa h6{
            margin-top: 200px;
         }

    }
}



.iconos_Redes_Sociales>a :hover{
    stroke: #3a3a3a;
}

.descargar_Cv {
    background-color: #22435C !important;
    color: #fff;

    &:hover {
        background-color: #3a3a3a !important;
        color: #fff;
        scale: 1.1;
    }
}





.secc1{
    
    border-radius: 8px;
    box-shadow: 10px 10px 15px #898C8E;
    background-color: #fff;
    
    & p{
        text-align: justify;
    }

    .localizarme_iconos{
        justify-content: left;
        display:flex;
        width: 100%;
        margin-top: 3%;
    }    
}





.secc2{
    margin-top: 3%;

    border-radius: 8px;
    box-shadow: 10px 10px 15px #898C8E;
   
    
    & .fila_iconos_leng{
        display: flex;
        justify-content: center;
        
        & .icono_leng_Prog{
            width: 100px;
            height: 70px;
            margin-inline: 30px;
            margin-bottom: 10px;
            view-timeline-name: --seccion;
            view-timeline-axis: block;
            animation-timeline: --seccion;
            animation-name: show_seccion;
        }
    }
}

@keyframes show_seccion{
    0%{
        opacity: 0;
        scale: 25%;
        display: none;
    }

    100%{
        opacity: 1;
        scale: 100%;
        display: block;
    }
}





.secc3{
    color: #ffffff;
    border-radius: 8px;
    
    & .titulo_proyecto{
        text-align: center;
    }

    & .row1{
        background: linear-gradient(257deg, rgba(34,67,92,1) 0%, rgba(127,206,226,1) 100%);
        backdrop-filter: blur(5px);
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 10px 10px 15px #22435C;
        color: #fff;
        
        & .item_Proyecto{
            display: flex;
        }
    
    }
}





.secc4{
    border-radius: 8px;
    margin-bottom: 0%;
    color: #22435C;
    
    view-timeline-name: --seccion;
    view-timeline-axis: block;

    animation-timeline: --seccion;
    animation-name: show_seccion;
    animation-range: entry 25% cover 50%;

    & .titulo_educacion{
        color: lightblue;
        margin-bottom: 20px;
    }

    & .secc4_insti{
        border-radius: 5px;
        color: #898C8E;

        & .secc4_insti_encabezado{
            display: flex;

            & h5{
                margin-left: 10px;
                color: #22435C;
            }
        }
    }

}





.secc5 {
    & video{
        border-top-left-radius : 95px; 
        border-bottom-right-radius : 95px; 
        overflow: hidden;
        box-shadow: 5px 5px 10px #aeb9c2;
    }
    
}






footer{
    text-align: center;
    background: linear-gradient(0deg, rgba(34,67,92,1) 0%, rgba(127,206,226,1) 100%);
    height: 200px;
    color: #d4d2d2;
    padding-top: 80px;
    box-shadow: 10px 10px 15px  rgba(127,206,226,0.1) inset;
}


@media only screen and (max-width : 401px) {
    
    .navbar{
        & .btn-secondary{
        margin-left: 0px;
        }
    }


    .card{
        width: 22rem;
        position: relative;
    }

    .figura_foto{
    height: 100px;
    }
    
    .figura_foto:hover > .capa h6{
        margin-top: 100px;
    }

    .secc2{
        & .fila_iconos_leng{
            flex-direction: row;
        }
    }
    



    .secc5 > video{
        width: 360px;
        height: 180px;
        border-radius: 10px; 
        overflow: hidden;
        transform: translateZ(0);
        box-shadow: 0 19px 51px 0 rgba(0,0,0,0.16), 0 14px 19px 0 rgba(0,0,0,0.07);
    }
}
